
body {
    text-align: center;
    margin: 0;
    background-image: url("images/space.jpg");
    
}

header {
    font-size: 60px;
    color: #ffffff;
    text-shadow: 1.5px 1.5px  #0061ff;
    margin: 20px;
}

h1 {
    border: solid 5px black;
    margin: 20px 35px;
    padding-top: 20px;
}

.wrapper {
    background: #0061ff;
    margin: 0 20%;
    padding: 5px 0;
    border: solid 10px black;
    
}

.questionBox {
    margin: 15px;
    background: #ffffff;
    border: solid 5px black;
}

.question {
    font-size: 32px;
    margin: 15px;
}

form {
    
    margin: 20px;
}

button {
    background: black;
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    color: #ffffff;
}

button:hover {
    color: #0061ff;
}

#timer {
    background: #ffffff;
    height: 50px;
    
    margin-top: 10px;
}

#timerBtn {
   font-size: 25px;
   position: relative;
   top: 220px;
   border: solid 2px #0061ff;
}

.score {
    background: #ffffff;
    height: 500px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    border: solid 5px black;
}

.options {
    text-align: left;
    width: 200px;
    margin: 10px auto;
}

.timeBox{
    background: white;
    position: sticky;
    top: 10px;
}

#result {
    background: #0061ff;
    border: solid 5px black;
    color: white;
    text-shadow: 1px 1px black;
    padding: 100px;
}

label {
    font-weight: bold;
}
